.TitleLableName {
  /* Геометрия */
  margin-bottom: 10px;
  /* Текст */
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
.TitleLableNameError {
  /* Геометрия */
  margin-bottom: 10px;
  /* Текст */
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color-two);
}
.InputEmail {
  /* Геометрия */
  width: 100%;
  margin-bottom: 30px;
  padding: 17px 20px;
  /* Текст */
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Оформление */
  background-color: var(--form-bg-text-color);
  border-radius: 30px;
  border: none;
  outline: none;
}
.InputEmail::placeholder {
  color: var(--text-color-three);
}
.InputPassword {
  width: 100%;
  /* Геометрия */
  margin-bottom: 30px;
  padding: 17px 20px;
  /* Текст */
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Оформление */
  background-color: var(--form-bg-text-color);
  border-radius: 30px;
  border: none;
  outline: none;
}
.InputPassword::placeholder {
  color: var(--text-color-three);
}
.battonWrap {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .TitleLableName {
    font-size: 12px;
    line-height: 14px;
  }
  .TitleLableNameError {
    font-size: 12px;
    line-height: 14px;
  }
}
