.sectionReportAmount {
  margin-top: 30px;
}
.reportAmount {
  display: flex;
  position: relative;
  border-radius: 20px;
  box-shadow: var(--box-shadow);

  padding-top: 20px;
  padding-bottom: 25px;

  background-color: var(--white-color);
}
.reportAmount::before {
  content: '';
  border-right: 1px solid #e0e5eb;
  position: absolute;
  right: calc(50%);
  top: 10%;
  height: 80%;
}
.amountCategory {
  color: var(--text-color-four);
  font-weight: 700;
  font-size: 14px;
  /* margin-bottom: 5px; */
}
.value {
  font-size: 14px;
  font-weight: 700;
  margin-top: 7px;
}
.valueExpence {
  color: var(--negative-sum-color);
}
.valueIncome {
  color: var(--positive-sum-color);
}
.reportAmountItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .reportAmount {
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .reportAmount {
    justify-content: center;
    padding: 15px 0;
  }
  .reportAmountItem {
    display: flex;
    flex-direction: row;
  }
  .reportAmountItem:not(:last-child) {
    margin-right: 40px;
  }
  .value {
    margin-left: 15px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .reportAmount {
    justify-content: center;
  }
  .reportAmount::before {
    right: 51.5%;
  }
  .reportAmountItem:not(:last-child) {
    margin-right: 40px;
  }
  .reportAmountItem {
    margin-right: 40px;
  }
}
